# Fundamentos de Python / Python Fundamentals

## Números Inteiros / Integers

**Explicação:** `Números inteiros` são usados para representar valores numéricos sem casas decimais. Eles podem ser positivos, negativos ou zero.

- Exemplos de aplicação: contagem de itens, identificação de índices ou cálculos matemáticos simples.

**Explanation:** `Integers` are used to represent numerical values without decimal places. They can be positive, negative, or zero.

- Use cases: counting items, identifying indices, or simple mathematical calculations.

> Exemplo / Exemple

In [4]:
# Criando variáveis de números inteiros / Creating integer variables
idade = 30  # Idade de uma pessoa / A person's age
anos_de_experiencia = 5  # Anos de experiência em um trabalho / Years of work experience

# Operações matemáticas básicas / Basic mathematical operations
soma = 10 + 5  # Resultado: 15 / Output: 15
subtracao = 10 - 5  # Resultado: 5 / Output: 5
multiplicacao = 10 * 5  # Resultado: 50 / Output: 50
divisao_inteira = 10 // 3  # Resultado: 3 / Output: 3 (divisão inteira / integer division)

# Comparações / Comparisons
print(idade > anos_de_experiencia)  # True
print(idade == 30)  # True
print(anos_de_experiencia < 10)  # True

True
True
True

## Números Decimais (float) / Decimal Numbers (float)

**Explicação:** O `tipo float` é usado para representar números com casas decimais, como medidas ou valores financeiros.

**Explanation:** The `float type` is used to represent numbers with decimal points, such as measurements or financial values.

> Exemplo / Exemple

In [ ]:
# Criando variáveis float / Creating float variables
altura = 1.75  # Altura em metros / Height in meters
preco = 19.99  # Preço de um item / Price of an item

# Operações com floats / Operations with floats
soma = 1.2 + 3.4  # Resultado: 4.6 / Output: 4.6
multiplicacao = 2.5 * 2  # Resultado: 5.0 / Output: 5.0

# Comparações entre floats / Comparisons with floats
print(altura > 1.5)  # True
print(preco == 19.99)  # True

True
True

##

> Outros exemplos / Other examples

### 1. Operações Matemáticas / Mathematical Operations

Realize cálculos básicos com números inteiros e floats.

Perform basic calculations with integers and floats.

In [ ]:
# Português / Portuguese
a = 10
b = 3
soma = a + b  # Adição 
subtracao = a - b  # Subtração 
multiplicacao = a * b  # Multiplicação 
divisao = a / b  # Divisão (resultado float) 
resto = a % b  # Módulo 
potencia = a ** b  # Potência 
print(f"Soma: {soma}, Subtração: {subtracao}, Multiplicação: {multiplicacao}, Divisão: {divisao}")

# English
a = 10
b = 3
sum_result = a + b  # Addition
subtraction = a - b  # Subtraction
multiplication = a * b  # Multiplication
division = a / b  # Division (float result)
remainder = a % b  # Modulo
power = a ** b  # Power
print(f"Sum: {sum_result}, Subtraction: {subtraction}, Multiplication: {multiplication}, Division: {division}")

Soma: 13, Subtração: 7, Multiplicação: 30, Divisão: 3.3333333333333335
Sum: 13, Subtraction: 7, Multiplication: 30, Division: 3.3333333333333335

### 2. Trabalhando com Float e Decimal / Working with Float and Decimal

Use valores decimais precisos.

Work with precise decimal values.

In [ ]:
# Português / Portuguese
from decimal import Decimal

valor1 = 0.1
valor2 = 0.2
resultado = valor1 + valor2
print(f"Resultado com float: {resultado}")  # Pode gerar imprecisão

decimal1 = Decimal("0.1")
decimal2 = Decimal("0.2")
resultado_decimal = decimal1 + decimal2
print(f"Resultado com Decimal: {resultado_decimal}")  # Precisão exata

# English
from decimal import Decimal

value1 = 0.1
value2 = 0.2
result = value1 + value2
print(f"Result with float: {result}")  # May produce imprecision

decimal1 = Decimal("0.1")
decimal2 = Decimal("0.2")
decimal_result = decimal1 + decimal2
print(f"Result with Decimal: {decimal_result}")  # Exact precision

Resultado com float: 0.30000000000000004
Resultado com Decimal: 0.3
Result with float: 0.30000000000000004
Result with Decimal: 0.3

### 3. Conversão de Tipos / Type Conversion

Transforme entre diferentes tipos de números.

Convert between different types of numbers.

In [ ]:
# Português / Portuguese
numero = "42"
numero_inteiro = int(numero)  # String para inteiro
numero_float = float(numero_inteiro)  # Inteiro para float
print(f"String: {numero}, Inteiro: {numero_inteiro}, Float: {numero_float}")

# English
number = "42"
integer_number = int(number)  # String to integer
float_number = float(integer_number)  # Integer to float
print(f"String: {number}, Integer: {integer_number}, Float: {float_number}")

String: 42, Inteiro: 42, Float: 42.0
String: 42, Integer: 42, Float: 42.0

### 4. Comparações / Comparisons

Compare valores numéricos para verificar condições.

Compare numeric values to check conditions.

In [ ]:
# Português / Portuguese
a = 15
b = 20
print(a > b)  # False
print(a < b)  # True
print(a == b)  # False
print(a != b)  # True

# English
a = 15
b = 20
print(a > b)  # False
print(a < b)  # True
print(a == b)  # False
print(a != b)  # True

False
True
False
True
False
True
False
True

### 5. Trabalhando com Valores Grandes / Working with Large Values

Lide com números muito grandes ou pequenos.

Work with very large or small numbers.

In [ ]:
# Português / Portuguese
grande = 10**20
print(f"Valor muito grande: {grande}")

# English
large = 10**20
print(f"Very large value: {large}")

Valor muito grande: 100000000000000000000
Very large value: 100000000000000000000

### 6. Verificando Tipos / Checking Types

Descubra o tipo de um dado usando `type()`.

Find out the type of data using `type()`.

In [ ]:
# Português / Portuguese
numero = 42
print(type(numero))  # <class 'int'>

# English
number = 42
print(type(number))  # <class 'int'>

<class 'int'>
<class 'int'>